.repository_layout {
  &__main_info {
    display: flex;
    align-items: center;
    height: 120px;
    padding: 8px;

    &__title {
      margin: 0 10px 0 10px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
